@import url("fonts.css");

:root {
	--black: #18191E;
	--blacker: #0A0B0D;
	--white: #fff;
	--orange: #EC6608;
	--grey: #AAAAAA;
}

.bg-black {
	background: var(--black);
	background: #18191EEE
}

.bg-black-flat {
	background: var(--blacker);
}

.white {
	color: var(--white);
}

/***** Global *****/

/* Body */

body {
	background: var(--black);
	background-image: url('../img/background.jpg');
	background-position: cover;
	background-attachment: fixed;
	color: var(--white);
	font-size: 20px;
	/* Base font size: 14px */
	font-family: 'Metropolis', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

/* typography */

h1 {
	font-size: 4rem;
	font-weight: 600;

}
h2 {
	font-weight: 600;
	line-height: 3rem;
}

h4 {
	font-size: 1.25rem;
	font-weight: 200;
	line-height: 2rem;
}

a, a:not([href]):not([tabindex]){
	color: var(--orange);
}

a:focus, a:hover {
	color: var(--white);
}

.entry-content .btn-outline, .btn-outline {
	border: 1px solid var(--white);
	color: var(--white);
	border-radius: 1rem;
	line-height: 1;
	text-transform: uppercase;
	font-size: 0.9rem;
}

.btn-outline:hover, 
.btn-outline:focus,
.btn-outline:target
.entry-content .btn-outline:hover, 
.entry-content .btn-outline:focus, 
.entry-content .btn-outline:target { 
	background: var(--white);
	color: var(--black);
}

.btn-orange, .entry-content .btn-orange {
	border-color: var(--orange);
}

.btn-orange:hover, .entry-content .btn-orange:hover {
	background: var(--orange);
	color: var(--white);
}

.btn-lg {
	padding: 0.75rem 2rem;
}

.navbar {
	padding: 1rem 4rem;
}

.navbar-brand {
    width: 300px;
}

.bg-dark {
	background: var(--black) !important;
}

.navbar-nav .nav-item + .nav-item {
    margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
	color: var(--grey);
	padding: 0.5rem 1.2rem;
    font-size: 1rem;
}

@media (min-width:992px) {
	.nav-link {
		padding: 0.5rem 1.2rem;
	}
}

.main-wrapper {
    margin-top: 90px;
}

section {
	padding: 3rem;
}

.mega-padding {
	padding: 8rem;
}

.hero-page h4{
	color: var(--grey)
}

#hero-home img {
	max-width: 483px;
	/* animation: spin 10s linear infinite; */
}

@media (max-width: 992px) {
	#hero-home img {
		margin: 1rem auto;
	}
}

#hero-home h4{	
	color: var(--grey);
}

#boxes-home {	
	padding-bottom:4rem;
}

.box {
	border-radius: 10px;
	height: 100%;
}

.box > .row {
	height: 100%;
}

.box img {
	max-height: 160px !important;
}

#soc-home p, #super-footer p, .box p, #gruppo-e-footer p{
	font-size: 16px;
	color: var(--grey);
}

.main-footer {
	padding: 4rem;
}

footer p {
	color: var(--grey);
	font-size: 16px;
	margin-bottom: 0;
}

.post-info .published {
	font-size: .9rem;
}

.article-list article time {
	font-size: .9rem;
}

.article-list article .summary p, 
.article-list article .summary h2, 
.article-list article .summary h3,
.article-list article .summary h4,
.article-list article .summary h5,
.article-list article .summary h6  
{
	color: var(--grey);
	font-size: 16px;
}

article img {
	max-width: 100%;
}

/* animations */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slide-out {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

/* custom navbar trigger */

.leftmenutrigger {
	display: none;
}

@media (max-width: 991px) {
	.leftmenutrigger{
		display: block;		
		margin: 7px 20px 4px 0;
		cursor: pointer;
	}

	.navbar-nav.side-nav.open {
		right:0;
	}

	.menu-heading h4{
		text-transform: uppercase;
		font-size: 1rem;
		color: var(--orange);
	}

	.navbar-nav.side-nav{
		background: var(--blacker);		
		position:fixed;
		top:80px;
		flex-direction: column !important;
		right:-220px;
		width:200px;
		overflow-y:auto;
		bottom:0;
		overflow-x:hidden;
		padding-top:1rem;
		padding-bottom:40px;
	}
}
